:root {
    --header: clamp(80px, 30vh, 267px);
    --footer: clamp(200px, 60vh, 550px);
    --uvw: 1.042vw;
    --uvh: .926vh;
}

.site.index header.header {
    color: #505050;
}

/* root-------------------------------------- */
/* ------------------------------------------ */
/* main-visual------------------------------- */

.index .index-main .main_visual {
    background-image:
        url(../img/index_main_bgimg_red.svg),
        url(../img/index_main_bgimg_orange.svg);
    background-repeat:
        no-repeat,
        no-repeat;
    background-position:
        left -118% top -131%,
        right -24% bottom 9%;
    background-size:
        79.8%,
        70%;
        justify-content: center;
}       

.main_visual .cheese {
    width: min(51.5%, 981px);
    height: auto;
    transform: translate(1.2%, -12.7%);
}

.main_visual .family {
    position: absolute;
}

.main_visual .family:nth-child(2) {
    width: 37.9%;
    left: -10.2%;
    top: 38.8%;
}

.main_visual .family:nth-child(3) {
    width: 12.4%;
    right: 15.4%;
    top: 33.7%;
}

.main_visual .family:nth-child(4) {
    width: 12.6%;
    right: 7.8%;
    top: 24.1%;
}

/* main-visual------------------------------- */
/* ------------------------------------------ */
/* main-------------------------------------- */

.index-main-item {
    --bgi-size: .7;
    display: grid;
    width: 100%;
    grid-template-columns: 50% min(40%, 610px);
    column-gap: 2.3%;
    align-items: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: calc(min(100%, 1920px) * var(--bgi-size));
    color: #fafafa;
}

.index-main-item:has(> .pre-img + .about-text) {
    height: 1070px;
}

.index-main-item:has(> .about-text + .pre-img) {
    height: 1400px;
    grid-template-columns: min(40%, 610px) 50%;
    justify-content: end;
}

.index-main-item:nth-child(2) {
    background-image: url(../img/index_item_bgimg_red.svg);
    background-position: center center;
    background-position: right 23% bottom 84%;
    background-size: 82%;
}

.index-main-item:nth-child(3) {
    background-image: url(../img/index_item_bgimg_blue.svg);
    background-position: right 8% bottom 38%;
    background-size: 94%;
}

.index-main-item:nth-child(4) {
    background-image: url(../img/index_item_bgimg_yellow.svg);
    background-position: right 22% bottom 34%;
    background-size: 82%;
}

.index-main-item:nth-child(5) {
    background-image: url(../img/index_item_bgimg_green.svg);
    background-position: left 39% bottom 33%;
    background-size: 94%;
}

.pre-img {
    --circle-size: 1287px;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    color: unset;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.index-main-item:nth-child(2) .pre-img {
    background-image: url(../img/white-cheese.png);
}

.index-main-item:nth-child(3) .pre-img {
    background-image: url(../img/shop_top.jpg);
}

.index-main-item:nth-child(4) .pre-img {
    background-image: url(../img/child.jpeg);
}

.index-main-item:nth-child(5) .pre-img {
    background-image: url(../img/usi.jpg);
}

.about-text:has(+ .pre-img),
.pre-img:has(+.about-text) {
    --circle-size: 867px;
    justify-self: end;
}

.about-text {
    width: 100%;
    aspect-ratio: 50/47;
    overflow-wrap: break-word;
    display: flex;
    flex-flow: column nowrap;
    transform: translateY(9%);
}

.about-text .rub {
    font-size: 2rem;
}

.about-text .title {
    margin: 2rem 0 4rem;
}

.about-text .body {
    overflow-wrap: break-word;
}

.about-text .button {
    align-self: end;
    justify-self: end;
    margin-top: auto;
    font-size: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(323px, 50%);
    aspect-ratio: 7/2;
    border-radius: 100px;
    background-color: #fafafa;
}


.index-main-item:nth-child(2) .about-text .button {
    color: #e86d6d;
}

.index-main-item:nth-child(3) .about-text .button {
    color: #8BD3D3;
}

.index-main-item:nth-child(4) .about-text .button {
    color: #FFCD45;
}

.index-main-item:nth-child(5) .about-text .button {
    color: #ADDB95;
}