:root {
    --header: clamp(80px, 30vh, 267px);
    --footer: clamp(200px,60vh,550px);
    --uvw: 1.042vw;
    --uvh: .926vh;
    --page-color: #e86d6d;
}

.site.intro {
    padding-bottom: calc(var(--footer) - 30vh);
}

/* root-------------------------------------- */
/* ------------------------------------------ */
/* main-visual------------------------------- */

.intro-main .main_visual {
    background-image: url(../img/intro-main-bg.svg);
    padding: 0 0 0 13%;
}

.intro-main .main_visual img {
    width: 60%;
}

/* main-visual------------------------------- */
/* ------------------------------------------ */
/* main-------------------------------------- */

.intro-main-item {
    width: 100%;
    aspect-ratio: 31/25;
}

.intro-main-item .title {
    color: var(--page-color);
    margin-bottom: 7%;
}

.intro-main-item .slider {
    width: 90%;
    aspect-ratio: 51/25;
    margin-bottom: 7%;
}

.intro-main-item .slider .slider-body .page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.intro-main-item .slider .slider-body .page .pre-img {
    width: max(45%, 200px);
    height: 100%;
    border-radius: 6vw;
    font-size: 8rem;
}

.intro-main-item .slider .slider-body .page p {
    width: 45%;
    font-size: min(3rem, 1.6vw);
    overflow-wrap: break-word;
}

.intro-main-item .paging {
    width: 15%;
}

.intro-main-item .paging .page-dot div {
    background-color: var(--page-color);
}

/* main-------------------------------------- */
/* ------------------------------------------ */
/* recipe------------------------------------ */
.intro-recipe {
    background-color: #ffebeb;
    padding-bottom: 30vh;   
}

.intro-recipe > .title {
    display: inline-flex;
    width: 100%;
    font-size: 6rem;
    height: 6em;
    background-color: var(--page-color);
    align-items: center;
    justify-content: center;
    color: #fff;
}

.intro-recipe .item {
    margin-top: 15%;
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
}

.intro-recipe .item .title {
    margin-top: 0.6%;
    font-size: 6rem;
    color: var(--page-color);
}

.intro-recipe .item .pre-img {
    width: 65%;
    aspect-ratio: 16/9;
    border-radius: 4vw;
    margin: 3.4% auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.intro-recipe .item:nth-of-type(1) .pre-img {
    background-image: url(../img/cheese-cake.png);
}

/* 
.intro-recipe .item:nth-of-type(2) .pre-img {
    background-image: url(../img/cheese.png);
}

.intro-recipe .item:nth-of-type(3) .pre-img {
    background-image: url(../img/cheese-cake.png);
} */

.intro-recipe .item label {
    display: flex;
    width: 40%;
    aspect-ratio: 11/2;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0 calc(20% - 3em);
    margin: 0 auto;
    font-size: min(4rem, 3vw);
    border-radius: 200px;
    color: #fff;
    background-color: var(--page-color);
}

.intro-recipe .item label .triangle {
    --width: 1vw;
    width: 0;
    height: 0;
    border-top: calc(var(--width) * 1.732) solid #fff;
    border-left: var(--width) solid transparent;
    border-right: var(--width) solid transparent;
    transform: rotateX(0deg);
    transition: transform .4s;
}

.intro-recipe .item:has(.view-more:checked) label .triangle {
    transform: rotateX(180deg);
    transition: transform .4s;
}

.view-more {
    display: none;
}

.intro-recipe .item .view-more + .popup {
    background-color: var(--page-color);
    font-size: 3rem;
    padding: 2em;
    display: flex;
    align-items: start;
    justify-content: center;
    border-radius: 3vw;
    width: 64%;
    max-height: 80vh;
    position: absolute;
    right: 0;
    left: 0;
    top: 14%;
    bottom: 20%;
    margin: auto;
    z-index: -3;
    opacity: 0;
    transition: opacity .1s, z-index .1s .2s;
    color: #fff;
}


.intro-recipe .item .view-more:checked + .popup {
    z-index: 5;
    opacity: 1;
    transition: opacity .1s;
}

.intro-recipe .item .popup > * {
    overflow-wrap: break-word;
    width: 50%;
}

.intro-recipe .item .popup p {
    display: block;
    width: 100%;
    padding-left: 1em;
}

.intro-recipe .item .popup > *:last-child > *:last-child {
    margin-top: 1.2em;
}

.intro-recipe .item .popup a {
    text-decoration: underline;
}