:root {
    --header: 267px;
    --footer: 550px;
    --uvw: 1.042vw;
    --uvh: .926vh;
    --page-color: #e86d6d;
}

/* root-------------------------------------- */
/* ------------------------------------------ */
/* header------------------------------------ */

header.header {
    color: #fff;
}

/* header------------------------------------ */
/* ------------------------------------------ */
/* main-visual------------------------------- */

.intro-main .main_visual {
    background-image: url(../img/intro-main-bg.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--page-color);
    padding: 0 0 0 13%;
    justify-content: space-between;
}

.intro-main .main_visual img {
    width: 60%;
}

/* main-visual------------------------------- */
/* ------------------------------------------ */
/* main-------------------------------------- */

.intro-main-item {
    width: 100%;
    aspect-ratio: 31/25;
    padding: 5% 0;
}

.intro-main-item .title {
    color: var(--page-color);
    margin-bottom: 7%;
}

.intro-main-item .slider {
    width: 90%;
    aspect-ratio: 51/25;
    margin-bottom: 7%;
}

.intro-main-item .slider .slider-body .page {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity .3s;
    z-index: 4;
}

.intro-main-item .slider .slider-body .page.hidden {
    opacity: 0;
    transition: opacity .3s;
    z-index: 0;
}

.intro-main-item .slider .slider-body .page .pre-img {
    background-color: #707070;
    width: max(45%, 200px);
    height: 100%;
    border-radius: 6vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}

.intro-main-item .slider .slider-body .page p {
    width: 45%;
    font-size: min(3rem, 1.6vw);
    overflow-wrap: break-word;
}


.intro-main-item .paging {
    display: flex;
    width: 15%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.intro-main-item .paging .page-dot {
    width: 2.4rem;
    aspect-ratio: 1;
    background-color: #acacac;
    border-radius: 50%;
    overflow: hidden;
}

.intro-main-item .paging .page-dot div {
    width: 100%;
    height: 100%;
    background-color: var(--page-color);
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.intro-main-item .paging .page-dot .current {
    opacity: 1;
    transition: opacity .4s ease-in-out;
}

/* main-------------------------------------- */
/* ------------------------------------------ */
/* recipe------------------------------------ */
.intro-recipe {
    background-color: #ffebeb;
}

.intro-recipe > .title {
    display: inline-flex;
    width: 100%;
    font-size: 6rem;
    height: 6em;
    background-color: var(--page-color);
    align-items: center;
    justify-content: center;
    color: #fff;
}

.intro-recipe .item {
    margin-top: 15%;
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
}

.intro-recipe .item .title {
    margin-top: 0.6%;
    font-size: 6rem;
    color: var(--page-color);
}

.intro-recipe .item .pre-img {
    width: 65%;
    aspect-ratio: 16/9;
    border-radius: 4vw;
    margin: 3.4% auto;
    background-color: #707070;
}

.intro-recipe .item label {
    display: flex;
    width: 40%;
    aspect-ratio: 11/2;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0 calc(20% - 3em);
    margin: 0 auto;
    font-size: min(4rem, 3vw);
    border-radius: 200px;
    color: #fff;
    background-color: var(--page-color);
}

.intro-recipe .item label .triangle {
    --width: 1vw;
    width: 0;
    height: 0;
    border-top: calc(var(--width) * 1.732) solid #fff;
    border-left: var(--width) solid transparent;
    border-right: var(--width) solid transparent;
    transform: rotateX(0deg);
    transition: transform .4s;
}

.intro-recipe .item:has(.view-more:checked) label .triangle {
    transform: rotateX(180deg);
    transition: transform .4s;
}

.view-more {
    display: none;
}

.intro-recipe .item .popup {
    background-color: var(--page-color);
    font-size: 3.6rem;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    border-radius: 3vw;
    width: 70%;
    max-height: 80vh;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 6rem;
    z-index: -3;
    opacity: 0;
    transition: opacity .1s;
    color: #fff;
}


.intro-recipe .item .view-more:checked + .popup {
    z-index: 5;
    opacity: 1;
    /* transform: translate(0, 100%); */
    transition: opacity .1s;
}

.intro-recipe .item .popup > * {
    overflow-wrap: break-word;
    width: calc(45% - 1.5em);
    margin-left: 1.5em;
    /* border: 1px solid #000; */
}

.intro-recipe .item .popup li {
    margin-top: 2rem;
}

.site.intro::after {
    content: '';
    background-color: #ffebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -5;
}