:root {
    --header: clamp(80px, 30vh, 267px);
    --footer: clamp(200px, 60vh, 550px);
    --uvw: 1.042vw;
    --uvh: .926vh;
    --page-color: #8bd3d3;
}

.site.shop {
    padding-bottom: calc(var(--footer) - 30vh);
}

/* root-------------------------------------- */
/* ------------------------------------------ */
/* main-visual------------------------------- */

.shop-main .main_visual {
    background-image: url(../img/shop-main-bg.svg);
    aspect-ratio: 1922/1101;
    padding: 0 4.4% 0 13%;
}

.shop-main .main_visual img:first-of-type {
    width: 16%;
    position: absolute;
    top: 14%;
    right: 29%;
    z-index: 2;
}

.shop-main .main_visual img:last-of-type {
    width: 52.5%;
    transform: translateY(6%);
}

/* main-visual------------------------------- */
/* ------------------------------------------ */
/* main-------------------------------------- */

.shop-main-item {
    padding-top: 11%;
}

.shop-main-item .title {
    margin-bottom: 7%;
    color: var(--page-color);
}

.shop-main-item .slider {
    width: 90%;
    aspect-ratio: 11/10;
    margin: 0 auto 13%;
}

.shop-main-item .slider .slider-body {
    justify-content: center;
    overflow: hidden;
}

.shop-main-item .slider .slider-body .page {
    position: absolute;
    width: 100%;
    height: 100%;
}

.shop-main-item .slider .slider-body .page .pre-img {
    width: 100%;
    aspect-ratio: 7/4;
    border-radius: 3vw;
    font-size: 6rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.shop-main-item>.slider .slider-body .page:nth-child(1) .pre-img {
    background-image: url(../img/shop_top.jpg);
}

.shop-main-item>.slider .slider-body .page:nth-child(2) .pre-img {
    background-image: url(../img/baked-cheese.png);
}

.shop-main-item > .slider .slider-body .page:nth-child(3) .pre-img {
    background-image: url(../img/);
}

.shop-main-item .slider .slider-body .page p {
    font-size: 4rem;
    text-align: left;
    padding: 0 0.5em;
    margin-top: 1.2em;
}

.shop-main-item .slider .slider-body .page .title {
    color: var(--page-color);
}

/* main-------------------------------------- */
/* ------------------------------------------ */
/* goods------------------------------------- */

.shop-main-item .item {
    background-color: var(--page-color);
    padding: 7% 7% calc(30vh + 7%);
}

.shop-main-item .item .title {
    display: block;
    width: 24%;
    font-size: 4rem;
    margin: 0 auto 3em;
    color: var(--page-color);
    border-radius: 2em;
    padding: 0.4em;
    aspect-ratio: unset;
}

.shop-main-item .item .title::after {
    border-top: calc(var(--width) * 1.732) solid #fff;
    border-right: var(--width) solid transparent;
    border-left: var(--width) solid transparent;
    bottom: calc(var(--width) * -1 - .8em);
    right: 38%;
    transform: scaleX(.8);
}

.shop-main-item .item .slider {
    aspect-ratio: 5/2;
}

.shop-main-item .item .slider .slider-body {
    width: 90%;

}

.shop-main-item .item .slider .slider-body .page {
    display: flex;
    align-items: start;
}

.shop-main-item .item .slider .slider-body .page .pre-img {
    width: 40%;
    height: unset;
    aspect-ratio: 1;
    margin: 0 5%;
    border-radius: 50%;
    border: .4vw solid #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.shop-main-item .item .slider .slider-body .page:nth-child(1) .pre-img {
    background-image: url(../img/cream-cheese.jpg);
}

.shop-main-item .item .slider .slider-body .page:nth-child(2) .pre-img {
    background-image: url(../img/souffule.jpg);
    background-size: 120%;
}

.shop-main-item .item .slider .slider-body .page:nth-child(3) .pre-img {
    background-image: url(../img/IMG_kamann.png);
}

.shop-main-item .item .slider .slider-body .page .wrapper {
    width: 50%;
    height: 100%;
    color: #fff;
}

.shop-main-item .item .slider .slider-body .page .wrapper .title {
    color: #fff;
    font-size: 5rem;
    margin: 0;
    width: 100%;
}

.shop-main-item .item .slider .slider-body .page .wrapper p:last-child {
    font-size: 3rem;
}

.shop-main-item .paging {
    width: 15%;
}

.shop-main-item .paging .page-dot div {
    background-color: #e86d6d;
}